 Cago en dios 
        <div class="row" ng-if="getGraphMode()!='scatterChart'">
          <div class="col-md-4">
            <span class="columns lightBold">
              Keys
              <ul data-drop="true"
                  ng-model="paragraph.config.graph.keys"
                  jqyoui-droppable="{multiple:true, onDrop:'onGraphOptionChange()'}"
                  class="list-unstyled">
                <li ng-repeat="item in paragraph.config.graph.keys">
                  <button class="btn btn-primary btn-xs">
                    {{item.name}} <span class="fa fa-close" ng-click="removeGraphOptionKeys($index)"></span>
                  </button>
                </li>
              </ul>
            </span>
          </div>
          <div class="col-md-4">
            <span class="columns lightBold">
              Values
              <ul data-drop="true"
                  ng-model="paragraph.config.graph.values"
                  jqyoui-droppable="{multiple:true, onDrop:'onGraphOptionChange()'}"
                  class="list-unstyled">
                <li ng-repeat="item in paragraph.config.graph.keys">
                  <button class="btn btn-primary btn-xs">
                    {{item.name}} <span class="fa fa-close" ng-click="removeGraphOptionKeys($index)"></span>
                  </button>
                </li>
              </ul>
            </span>
          </div>
        </div>

