        <div class="row">
          <div class="col-md-2">
            <span class="columns lightBold">
              Latitude
              <ul data-drop="true"
                  ng-model="paragraph.config.graph.latitude"
                  jqyoui-droppable="{multiple:false, onDrop:'onGraphOptionChange()'}"
                  class="list-unstyled">
                <li ng-repeat="item in paragraph.config.graph.latitude">
                  <button class="btn btn-primary btn-xs">
                    {{item.name}} <span class="fa fa-close" ng-click="removeGraphOptionLatitude($index)"></span>
                  </button>
                </li>
              </ul>
            </span>
          </div>
          <div class="col-md-2">
            <span class="columns lightBold">
              Longitude
              <ul data-drop="true"
                  ng-model="paragraph.config.graph.longitude"
                  jqyoui-droppable="{multiple:false, onDrop:'onGraphOptionChange()'}"
                  class="list-unstyled">
                <li ng-repeat="item in paragraph.config.graph.longitude">
                  <button class="btn btn-primary btn-xs">
                    {{item.name}} <span class="fa fa-close" ng-click="removeGraphOptionLongitude($index)"></span>
                  </button>
                </li>
              </ul>
            </span>
          </div>
          <div class="col-md-2">
            <span class="columns lightBold">
              Text
              <ul data-drop="true"
                  ng-model="paragraph.config.graph.text"
                  jqyoui-droppable="{multiple:false, onDrop:'onGraphOptionChange()'}"
                  class="list-unstyled">
                <li ng-repeat="item in paragraph.config.graph.text">
                  <button class="btn btn-primary btn-xs">
                    {{item.name}} <span class="fa fa-close" ng-click="removeGraphOptionText($index)"></span>
                  </button>
                </li>
              </ul>
            </span>
          </div>
          <div class="col-md-2">
            <span class="columns lightBold">
              Value
              <ul data-drop="true"
                  ng-model="paragraph.config.graph.values"
                  jqyoui-droppable="{multiple:false, onDrop:'onGraphOptionChange()'}"
                  class="list-unstyled">
                <li ng-repeat="item in paragraph.config.graph.values">
                  <button class="btn btn-primary btn-xs">
                    {{item.name}} <span class="fa fa-close" ng-click="removeGraphOptionValues($index)"></span>
                  </button>
                </li>
              </ul>
            </span>
          </div>
        </div>

